{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mannat Themes">
        <meta name="keyword" content="">

        <title>{% block title %} FCR {% endblock %}</title>

        <!-- Theme icon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <link href="{% static 'plugins/morris-chart/morris.css' %}" rel="stylesheet">
        <!-- Theme Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/slidebars.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/icons.css' %}" rel="stylesheet">
        <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% if messages %}      
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message: </strong> {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}      
{% endif %}
    </head>

    <body class="sticky-header">
        <section>
            <!-- sidebar left start-->
            <div class="sidebar-left">
                <div class="sidebar-left-info">

                    <div class="user-box">
                        <div class="d-flex justify-content-center">
<!--                             <img src="assets/images/users/avatar-1.jpg" alt="" class="img-fluid rounded-circle"> --> 
                        </div>
                        <div class="text-center text-white mt-2">
                            <h6>Admin</h6>
<!--                             <p class="text-muted m-0">Admin</p>
 -->                        </div>
                    </div>   
                                        
                    <!--sidebar nav start-->
                    <ul class="side-navigation">
                        <li>
                            <h3 class="navigation-title">Navigation</h3>
                        </li>
                        <li class="active">
                            <a href="index.html"><i class="mdi mdi-gauge"></i> <span>Dashboard</span></a>
                        </li>

                    </ul><!--sidebar nav end-->
                </div>
            </div><!-- sidebar left end-->

            <!-- body content start-->
            <div class="body-content">
                <!-- header section start-->
                <div class="header-section">
                    <!--logo and logo icon start-->
                    <div class="logo">
                        <a href="index.html">
                            <span class="logo-img">
                                <img src="assets/images/logo_sm.png" alt="" height="26">
                            </span>
                            <!--<i class="fa fa-maxcdn"></i>-->
                            <span class="brand-name">FCR</span>
                        </a>
                    </div>

                    <!--toggle button start-->
                    <a class="toggle-btn"><i class="ti ti-menu"></i></a>
                    <!--toggle button end-->


<div class="notification-wrap">
  <!--right notification start-->
  <div class="right-notification">
    <ul class="notification-menu">
        <li>
          <a href="javascript:;" data-toggle="dropdown">
            {% if request.user.profile.profile_picture %}
              <img src="{{ request.user.profile.profile_picture.url }}" alt="">
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-menu">
            <a class="dropdown-item" href="{% url 'profile-page' %}">
              <i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile
            </a>
            <a class="dropdown-item" href="{% url 'logout' %}">
              <i class="mdi mdi-logout m-r-5 text-muted"></i> Logout
            </a>
          </div>
        </li>
    </ul>
                        </div><!--right notification end-->
                    </div>
                </div>
                <!-- header section end-->
  {% block content %}

  {% endblock %}  

                <!--footer section start-->
                <footer class="footer">
                    2018 &copy; Syntra.
                </footer>
                <!--footer section end-->


            </div>
            <!--end body content-->
        </section>

        <!-- jQuery -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-migrate.js' %}"></script>
        <script src="{% static 'js/modernizr.min.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/slidebars.min.js' %}"></script>

        <!--plugins js-->
        <script src="{% static 'plugins/counter/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'plugins/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'plugins/sparkline-chart/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'pages/jquery.sparkline.init.js' %}"></script>

        <script src="{% static 'plugins/chart-js/Chart.bundle.js' %}"></script>
        <script src="{% static 'plugins/morris-chart/raphael-min.js' %}"></script>
        <script src="{% static 'plugins/morris-chart/morris.js' %}"></script>
        <script src="{% static 'pages/dashboard-init.js' %}"></script>


        <!--app js-->
        <script src="{% static 'js/jquery.app.js"></script>
        <script>
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                delay: 100,
                time: 1200
                });
            });
        </script>
    </body>
</html>
